@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

#a1{
    font-family: "Orbitron", sans-serif;
    font-weight: 450;
    margin-left: 500px;
    margin-top: -60px;
    padding-left: 160px;
    font-size: x-large;



}
img{
    height: 670px;
}
#im3{
    width: 100px;
    height: 50px;
}
h1{
    transition: 0.7s;
    color: white;
}
h1:hover{
    color: rgb(202, 6, 6);
}
h5{
    transition: 0.7s;
}
h1:hover{
    color: rgb(186, 17, 79);
}
/* button {
    height: 4em;
    width: 15em;
    border: none;
    border-radius: 40px;
    background-color: #fff;
    cursor: pointer;
  }
  
  button span {
    z-index: 1;
    display: inline-block;
    background-color: black;
    height: 3em;
    width: 11.5em;
    border-radius: 25px;
    color: #fff;
    line-height: 55px;
    font-size: 18px;
    letter-spacing: 3px;
    transition: all 0.5s;
  }
  
  button .container {
    z-index: -1;
    width: 0;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    transition: all 0.4s;
  }
  
 button .container svg {
    padding: 0 10px;
  }
  
  button:hover span {
    width: 0;
  }
  
  button:hover .container {
    z-index: 2;
    width: 100%;
  }
  .btn {
    font-size: 17px;
    background: transparent;
    border: none;
    border: black;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    padding: 1em 1.5em;
    color: #141413;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ec2f0e;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #0a0a0a;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: rgb(15, 15, 16);
  } */
 #im1{
  height: 300px;
  
 }

 

 #bu1{
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: rgba(243, 241, 241, 0.01);
 }
 #li{
  background-color: rgba(242, 242, 237, 0.011);
  border: rgba(255, 255, 255, 0);
  

 }
 #h{
    transition: 0.7s;
}
#h:hover{
    color: rgb(21, 171, 11);
}
#im2{
  height: 400px;
  transition: 0.3s;
  
 }
 h3{
color: red;
}
h3:hover{
  color: rgb(233, 17, 17);
}
#B{
  margin-top: 50px;
}
 
body{
  background-color: black;
}
#p1{
  color: rgba(255, 255, 255, 0.958);
}