@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Orbitron:wght@400..900&display=swap');

#nav1{
    background-color: palevioletred;
    background: linear-gradient(90deg, rgba(249, 114, 30, 0.832) 0%, rgba(254, 38, 81, 0.832) 35%, rgba(240, 38, 126, 0.832) 100%);

    height: 50px;
}
#a1{
   
    color: rgb(253, 10, 91);
    font-family: "Merienda", cursive;
   
}
#a2{
    width: 100px;
    height: 80px;
    padding-top: -0px;
    margin-top: -15px;

}
#a{
    height: 50px;

}

img{
    width: 100px;
    height: 850px;
}
#p1{
    color: palevioletred;
}