.row{
    width: 75%;
    height: 600px;
    background: linear-gradient(90deg, rgba(119, 5, 129, 0.94) 0%, rgba(241, 51, 92, 0.54) 35%, rgba(136, 11, 164, 0.945) 100%);

    position: relative;
    top: 200px;
    left: 100px;
}

.col1{
    background-color: yellow;
    left: 200px;
}
.col2{
    background-color: rgb(255, 60, 0);
    left: 400px;
}
.col3{
    background-color: rgb(55, 186, 12);
    left: 600px;
}
.col4{
    background-color: rgb(0, 136, 255);
    left: 800px;
}